.ant-steps .ant-steps-item-container .steps-item-icon .ant-steps-icon {
    color: #4338ca !important;
}
.ant-steps .ant-steps-item-container .steps-item-icon {
    background-color: #4338ca !important;
    border-color: #4338ca !important;
}